/target
lexical-benchmark/lexical/target
lexical-benchmark/libcore/target
lexical-benchmark/double_conversion/build
lexical-benchmark/from_chars/build
lexical-benchmark/rapidjson/build
lexical-benchmark/strtod/build
lexical-benchmark/results
lexical-capi/target
lexical-capi/tests/build
lexical-codegen/lexical/target
lexical-core/target
lexical-derive/target
lexical-test/target/
**/*.rs.bk
Cargo.lock
data/test-parse-random/errors.txt
/__pycache__
/build
*.pyc
lexical-core/proptest-regressions/

# Perftools
perf.data
perf.data.old
